  /* This CSS rule contains the hover effect for the Banner  section of the Page */
  .topBanner {
  padding: 0 12vw 0 12vw;
  position: relative;
  top: 0;
  height: 75px;
  border-bottom: 1px solid #7e7e7e;
}

.topBanner p {
  padding-top: 12px;
  display: inline;
  color: #7e7e7e;
}

.topBanner .welcomeNote {
  font-size: 1.1em;
  float: left;
  color: #7e7e7e;
}

.topBanner .bannerContact .eachContact {
  margin: 0px 30px 0px 0px;
  /* padding: 0px, 20px; */

}

.topBanner .bannerContact {
  font-size: 1.1em;
  float: right;
}

.topBanner .bannerContact a {
  text-decoration: none;
  color: #37afa8;
}